# Git Ignore file for Draculog

# Folder(s) that could contain testing code
/Source/
/power-c
/sorts

# Folder(s) that contain python cache files
/Modules/__pycache__/
/Modules/Sensors/__pycache__/

# Nano Specific modification temp files
.DracuLog.py.swp
DracuLog.py.save

# Default ignored files for PyCharm
/shelf/
/workspace.xml
.idea/
