**.swp
Downloading_Code.txt
Executing_Code.txt
Uploading_Code.txt
Newly_Executed_Code.txt
Newly_Downloaded_Code.txt
Newly_Uploaded_Code.txt
Draculog_Log.txt
/power-c
Local_Draculog/power-c
/sorts
Local_Draculog/sorts
/Source/sorts
Local_Draculog/Source/sorts
/Downloaded_Code/*/*/*.cpp
/Downloaded_Code/*/*/*.h
/Downloaded_Code/*/*/code
/Downloaded_Code/*/*/Makefile
Downloaded_Code/**
.DracuLog.py.swp
DracuLog.py.save
# Default ignored files
/shelf/
/workspace.xml
.idea/
Sensors/__pycache__/
__pycache__/
Headers/*_submitted_code.cpp
Headers/code
Headers/Makefile_OLD


Source/**
Downloaded_Code/*/*.cpp
Downloaded_Code/*/code
Downloaded_Code/*/*.h
Downloaded_Code/*/Makefile
